header {
	font-weight: bold;
	font-family: sans-serif, Arial, Tahoma, Geneva, Verdana, Helvetica;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	/* margin-left: -1cm; */
	margin-bottom: 1%;
	font-weight: normal;
	background-color: #151617;
	border: 5px solid #151617;
	border-radius: 5px;
	padding-bottom: 0.5%;
	padding-left: 1%;
	padding-right: 1%;
	/* padding: 5px; */
	display: inline-block;
	text-align: left;
}

h1 {
	font-size: 250%;
}
h2 {
	font-size: 230%;
}
h3 {
	font-size: 210%;
}
h4 {
	font-size: 160%;
}
h5 {
	font-size: 140%;
}
h6 {
	font-size: 120%;
}

body {
	/* font-size: larger; */
	padding: 10px;
	font-family: sans-serif, Arial, Tahoma, Geneva, Verdana, Helvetica;
	background: #2E3436;
	color: #cfcfcf;
}

blockquote, q, abbr, address, cite, bdo {
	font-family: sans-serif, Arial, Tahoma, Geneva, Verdana, Helvetica;
}

p, ul, li, table {
	/* text-indent: 3%; */
	/* padding-left: 50px; */
	white-space: wrap;
	font-family: sans-serif, Arial, Tahoma, Geneva, Verdana, Helvetica;
	background: #2E3436;
	color: #cfcfcf;
}

li {
	font-size: 20px;
}

li span {
	font-size: 25px;
}

ul li:before {
	content: '\0000a0';
	list-style-type: square;
}

ol li {
	padding: 5px;
	margin-left: 35px;
}

ul li {
	padding: 5px;
	margin-left: 20px;
}

main {
	font-size: 20px;
	max-width: 800px;
	margin: auto;
	color: #cfcfcf;
}

img {
	max-width: 100%;
}

a {
	font-family: sans-serif, Arial, Tahoma, Geneva, Verdana, Helvetica;
	color: #fff;
}

a:hover {
	color: #000;
	background: #fff;
}

footer {
	text-align: center;
	clear: both;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center;
	clear: both;
}

/* For NEXTPREV.HTML */
#nextprev:hover {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left;
	text-align: left;
}
#nextart {
	float: right;
	text-align: right;
}
#nextart,#prevart {
	margin-bottom: 5mm;
	margin-top: 5mm;
	max-width: 33%;
	display: inline-block;
}

/* div(s) */
.thetitle {
	font-size: 300%;
	border: 5px solid #151617;
	border-radius: 15px;
	background-color: #151617;
	display: inline-block;
	text-align: center;
	padding: 10px;
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 2mm;
	/* padding-left: 50px; */
	/* height: 200px; Should be removed. Only for demonstration */
}

.theauthors {
	border: 5px solid #151617;
	border-radius: 5px;
	background-color: #151617;
	display: inline-block;
	text-align: center;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 5mm;
}

.thedate {
	border: 5px solid #151617;
	border-radius: 5px;
	background-color: #151617;
	display: inline-block;
	text-align: center;
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 2mm;
}

.subtitle {
}

.theheadings {
	font-weight: bold;
	color: #fff;
	display: inline-block;
	background-color: #151617;
	text-align: left;
	padding: 10px;
}

.topbar {
	font-weight: normal;
	text-align: left;
	padding: 5px;
	display: inline-block;
	background-color: #151617;
	clear: both;
	margin-bottom: 5mm;
	margin-right: 1mm;
	font-size: 150%;
	border: 2px solid #151617;
	border-radius: 5px;
	/* margin-left: 1cm; */
	/* background-color: #151617; */
	/* position: absolute; */
	/* clear: both; */
	/* display: table; */
}

.botbar {
	font-weight: normal;
	text-align: center;
	padding: 10px;
	padding-left: 150px;
	padding-right: 150px;
	display: inline-block;
	background-color: #151617;
	max-width: 100%;
	border: 5px solid #151617;
	border-radius: 5px;
	/* margin-left: 1cm; */
	/* background-color: #151617; */
	/* position: absolute; */
	/* font-size: 32px; */
	/* clear: both; */
	/* display: table; */
}

code {
	font-family: monospace;
	font-size: 20px;
	white-space: wrap;
}

.highlight {
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
	/* border-style: ; */
	color: #f8f8f2;
	background: #282828;
	padding: 1%;
	border: 2px solid black;
	border-radius: 15px;
}

.left {
	width: 45% ;
	float: left ;
	clear: both ;
}

.right {
	width: 45% ;
	float: right ;
}

br {
	clear: both;
}

.sans {
	font-family: sans-serif, Arial, Tahoma, Geneva, Verdana, Helvetica;
	display: inline-block;
}

.summary {
	font-family: sans-serif, Arial, Tahoma, Geneva, Verdana, Helvetica;
	font-size: 100%;
	white-space: wrap;
	text-align: left;
	font-style: normal;
	font-weight: normal;
}

.collapse {
	padding: 2%;
	text-indent: 0%;
	font-family: sans-serif, Arial, Tahoma, Geneva, Verdana, Helvetica;
	border: 0px solid black;
	border-radius: 0px;
	margin-top: 2%;
	margin-bottom: -5%;
} 

.sitemap {
	/* background: #26292A; */
	padding: 0.1%;
	border: 3px solid #151617;
	border-radius: 5px;
} 
