<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
  <head>
    <title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Site.BaseURL }}">
    <link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
    <link rel='stylesheet' type='text/css' href='/css/style.css'>
    <link rel='stylesheet' type='text/css' href='/css/syntax.css'>
    <link rel='stylesheet' type='text/css' href='/css/theme.css'>
    {{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">
    {{ end -}}
    <meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
    {{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
    {{ end -}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta charset="utf-8">
  </head>
  <body>

    <main>
      <div class="topbar">
        {{ if .Site.Menus.main }}
        {{ partial "nav.html" . }}
        {{ end -}}
      </div>

    <!-- Site map -->
      <!--
      <aside>
        <ul>
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
          <div class='topbar'>
            <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
              <a href="#">
                {{ .Pre }}
                <span>{{ .Name }}</span>
              </a>
            </li>
          </div>
          <div class='topbar'>
            <ul class="sub-menu">
              {{ range .Children }}
              <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                <a href="{{ .URL }}">{{ .Name }}</a>
              </li>
              {{ end }}
            </ul>
          </div>
          {{ else }}
          <div class='topbar'>
            <li>
              <a href="{{ .URL }}">
                {{ .Pre }}
                <span>{{ .Name }}</span>
              </a>
            </li>
          </div>
          {{ end }}
          {{ end }}
        </ul>
      </aside>
      -->

  <div class="mainmain">
      <!--
        <div class="topbar">
        {{ if .Site.Menus.main }}
        {{ partial "nav.html" . }}
        {{ end -}}
        </div>
      -->

      <header>
        {{ if .IsHome }}
        <div class="header">
          <div class="thetitle">
            {{ block "title" . }}{{ end }}
          </div>
          {{ if .Params.subtitle }}
          <div class="thesubtitle">
            {{ .Params.subtitle }}
          </div>
          {{ end }}
        </div>
        {{ else }}
        <div class="header">
          <div class="thetitle">
            {{ block "title" . }}{{ end }}
          </div>
          {{ if .Params.subtitle }}
          <div class="thesubtitle">
            {{ .Params.subtitle }}
          </div>
          {{ end }}

          {{ if .Content }}
          {{ if .Date }}
          <div class="thedate">
            {{ .Date.Format "January 2, 2006" }}
          </div>
          {{end}}
          {{end}}
          {{ with .Params.authors }}
          <div class="theauthors">
            {{ delimit . ", " " and " }}
          </div>
          {{ end }}
        </div>

        {{ if .Params.toc }}
        <div class="tableofcontents">
          <ol>
            <details>
              <summary>
                <h4> Table Of Contents </h4>
              </summary>
              <div class="sitemap">
                {{ .TableOfContents }}
              </div>
            </details>
          </ol>
        </div>
        {{ end }}

        {{ if .Params.summary }}
        <div class="summary">
        <div class="mainpad">
          <p>
          {{ .Params.summary }}
          </p>
        </div>
        </div>
        {{ end }}
        {{ end }}
      </header>

      <!-- main body -->

      <article>
        <div class="row">
        <div class="mainpad">
          {{ block "main" . }} {{ .Content }} {{ end }}
        </div>
        </div>
        {{ if .Param "nextprev" }} {{ partial "nextprev.html" . -}} {{ end -}}
        {{ if .Param "taglist" }} {{ partial "taglist.html" . }} {{ end -}}
      </article>

      <hr>
    {{ if .IsHome }}
      {{ block "footer" . }}
      <footer>
        <div class="footer">
          <div class='botbar'>

          <table style="width: 100%;">
            <tr>
              <td>
                <a href="{{ .Site.BaseURL }}">{{ .Site.BaseURL }}</a>
              </td>
              <td>
                Github
              </td>
            </tr>
            <tr>
              <td>
                {{- if .Param "showrss" }}
                    <a href="/index.xml"> Subscribe via RSS for updates. </a>
                {{ end }}
              </td>
              <td>
                Email maybe?!
              </td>
            </tr>
          </table>
        {{ end }} {{ else }}
      <footer>
        <div class="footer">
          <div class='botbar'>

          <table style="width: 100%;">
            <tr>
              <td>
                <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
              </td>
              <td>
                github?
              </td>
            </tr>
            <tr>
              <td>
                {{- if .Param "showrss" }}
                    <a href="/index.xml"> Subscribe via RSS for updates. </a>
                {{ end }}
              </td>
              <td>
                mastodon?!
              </td>
            </tr>
          </table>

          </div>
        </div>
      </footer>
      {{ end }}


    </div>
    </main>
  </body>
</html>
