<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
   <title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
   <link rel="canonical" href="{{ .Site.BaseURL }}">
   <link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
   <link rel='stylesheet' type='text/css' href='/css/style.css'>
   <link rel='stylesheet' type='text/css' href='/css/syntax.css'>
   {{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">
   {{ end -}}
   <meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
   {{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
   {{ end -}}
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="robots" content="index, follow">
   <meta charset="utf-8">
</head>
<body>
   <main>
   <div class="topbar">
      {{ if .Site.Menus.main }}{{ partial "nav.html" . }}{{ end -}}
   </div>
      <header>
      {{ if .IsHome }}
   <div class="header">
         <div class="thetitle">
            {{ block "title" . }}{{ end }}
         </div>
         {{ if .Params.subtitle }}
            <div class="thesubtitle">
               {{ .Params.subtitle }}
            </div>
         {{ end }}
   </div>
      {{ else }}
   <div class="header">
         <div class="thetitle">
            {{ block "title" . }}{{ end }}
         </div>
         {{ if .Params.subtitle }}
            <br>
            <div class="thesubtitle">
               {{ .Params.subtitle }}
            </div>
         {{ end }}

         {{ if .Content }}
            {{ if .Date }}
            <br>
            <div class="thedate">
               {{ .Date.Format "January 2, 2006 - 15:04" }}
            </div>
            {{end}}
         {{end}}

         <br>
         {{ with .Params.authors }}
         <div class="theauthors">
               {{ delimit . ", " " and " }}
         </div>
         <br>
         {{ end }}
   </div>

         {{ if .Params.toc }}
         <div class="tableofcontents">
               <ol>
                  <details>
                     <summary>
                           <h4> Table Of Contents </h4>
                     </summary>
                     <div class="sitemap">
                        {{ .TableOfContents }}
                     </div>
                  </details>
               </ol>
         </div>
         {{ end }}

         {{ if .Params.summary }}
         <br>
         <div class="summary">
            <p>
               {{ .Params.summary }}
            </p>
         </div>
         {{ end }}
      {{ end }}
      </header>
      <article>

   <div class="row">
      {{ block "main" . }} {{ .Content }} {{ end }}
   </div>
      {{ if .Param "nextprev" }} {{ partial "nextprev.html" . -}} {{ end -}}
      {{ if .Param "taglist" }} {{ partial "taglist.html" . }} {{ end -}}
      </article>

   <hr>
   {{ block "footer" . }}
   <footer>
   <div class="footer">
      <div class='botbar'>
      <a href="{{ .Site.BaseURL }}">{{ .Site.BaseURL }}</a>
      {{- if .Param "showrss" }}
      <div class="rssfeed">
         <a href="/index.xml">
               Subscribe via RSS for updates.
         </a>
      </div>
      {{ end }}

      </div>
      </div>
   </footer>
   {{ end }}
   </main>
</body>
</html>
