{{ define "title" -}}
{{ .Title | title }}
{{- end }}
{{ define "main" -}}
{{ .Content }}
{{ if .IsHome }}
{{- if .Data.Pages -}}
<div class="tableofcontents">
  <!-- <h4>Posts</h4> -->
  <div class="sitemap">
	<hr>
    <ul>
      {{- range .Data.Pages -}}
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{- range .Pages }}
      <li>
        {{- if .Param "datesinlist" }}
        <!-- <code> -->
          <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
            {{ .Date.Format "2006 Jan 02" }}
          </time> &ndash;
        <!-- </code> -->
        {{ end -}}

                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
              </li>
            {{- end }}
            {{- end -}}
          </ul>
					<hr>
        </div>
      </div>
      {{- end -}}
      {{ else }}
      <div class="tableofcontents">
        <div class="sitemap">
					<hr>
      <ul>
        {{- range.Pages }}
        <li>
          {{- if .Param "datesinlist" }}
          <!-- <code> -->
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
              {{ .Date.Format "2006 Jan 02" }}
            </time> &ndash;
          <!-- </code> -->
          {{ end -}}
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{- end }}
      </ul>
					<hr>
        </div>
      </div>
      {{ end }}
{{- end }}
