{{ define "title" -}}
{{ .Title | title }}
{{- end }}
{{ define "main" -}}
{{ .Content }}
<br>
<br>
{{ if .IsHome }}
{{- if .Data.Pages -}}
<!-- <div class="tableofcontents"> -->
  <!-- <h4>Posts</h4> -->
  <div class="sitemap">

  <!-- <hr> -->

<details>
  <summary>
      <b style="font-size: 150%;">
        Map
      </b>
  </summary>
    <hr>
    {{- range .Data.Pages -}}
      <p>
        <b>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </b>
      </p>
      <ul>
      {{- range .Pages }}
        <li>
          {{- if .Param "datesinlist" }}
              <code>
                <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                  {{ .Date.Format "2006 Jan 02" }}
                </time>
              </code>
              &nbsp;
              &mdash;
              &nbsp;
          {{ end -}}
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ if .Param "abstract" }}
            <details>
              <summary>
                  Summary
              </summary>
                <ul>
                  <li>
                    {{ .Param "abstract" }}
                  </li>
                </ul>
            </details>
          {{ end }}
        </li>
      {{- end }}
      <br>
    </ul>
    {{- end -}}
    <hr>
</details>

  <!-- end first-page -->

          <!-- <hr> -->
        </div>
      <!-- </div> -->
      {{- end -}} {{ else }}
      <!-- <div class="tableofcontents"> -->
        <div class="sitemap">
          <!-- <hr> -->

  <details>
    <summary>
        <b style="font-size: 150%;">
          Map
        </b>
    </summary>

    <ul>

    {{- range .Pages }}
      
      <li>
        {{- if .Param "datesinlist" }}
            <code>
              <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                {{ .Date.Format "2006 Jan 02" }}
              </time>
            </code>
            &nbsp;
            &mdash;
            &nbsp;
        {{ end -}}
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ if .Param "abstract" }}
        <details>
          <summary>
              Summary
          </summary>
            <ul>
              <li>
                {{ .Param "abstract" }}
              </li>
            </ul>
        </details>
        {{ end }}
      </li>
    <br>
  {{- end -}}

    </ul>
  </details>

          <!-- <hr> -->
        </div>
      <!-- </div> -->
      {{ end }}
{{- end }}
